html, body {
    height: 100%; /* ページ全体の高さを画面いっぱいに */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #3a6ea5;
    font-family: "MS UI Gothic", sans-serif;
    font-size: 11px;
}

.title-bar {
    background: linear-gradient(to right, #0055e3, #3a89ff);
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    height: 18px;
}

.title-bar-controls button {
    width: 16px;
    height: 14px;
    margin-left: 2px;
    border: 1px solid #00309c;
    background-color: #3780ff;
    font-family: "Webdings";
    font-size: 10px;
    color: white;
    line-height: 14px;
    padding: 0;
}

.title-bar-controls button:active {
    filter: brightness(0.8);
}

.title-bar-controls button[aria-label="Minimize"]::before {
    content: "0";
}
.title-bar-controls button[aria-label="Maximize"]::before {
    content: "1";
}
.title-bar-controls button[aria-label="Close"]::before {
    content: "r";
}

.menu-bar {
    background-color: #ece9d8;
    padding: 3px 4px;
    display: flex;
}

.menu-bar span {
    padding: 2px 5px;
    margin-right: 2px;
}

.menu-bar span:hover {
    background-color: #316ac5;
    color: white;
}

.window-body {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    padding: 5px;
    position: relative;
    background-color: #ece9d8;
}

.toolbar {
    width: 70px;
    border: 1px solid #b5b5b5;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-content: flex-start;
    font-family: Webdings;
}

.toolbar input[type="radio"], .char-bar input[type="radio"] {
    display: none;
}

.tool-button, .char-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 30px;
    height: 30px;
    background-color: #ece9d8;
    border: 2px solid #f0f0f0;
    border-style: outset;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s;
}

.tool-button:hover, .char-button:hover {
    border-color: #c0c0c0;
}

input[type="radio"]:checked + .tool-button,
input[type="radio"]:checked + .char-button {
    background-color: #e5e4df;
    border-style: inset;
    border-color: #c0c0c0;
}

.editor-area {
    flex-grow: 1;
    margin-left: 5px;
    border: 1px solid #7f9db9;
    resize: none;
    outline: none;
    padding: 5px;
    font-family: "MS PGothic";
    font-size: 12pt;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.char-bar {
    display: flex;
    padding-top: 5px;
    gap: 2px;
    border-top: 1px solid #b5b5b5;
    margin-top: 5px;
}

.window {
    width: 80vw;
    height: 80vh;

    max-width: 1200px;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
