:root {
  --window-bg-color: #ece9d8;
  --window-fr-color: #0057e8;
  --window-fr-grad: linear-gradient(
    to bottom,
    #0057e8,
    #3c79e3 10%,
    #0057e8 40%,
    #0057e8 60%,
    #3c79e3 90%,
    #0057e8 100%
  );
  --window-tx-color: #ffffff;
  --main-tx-color: black;
  --main-bg-image: url("background.png");
  --main-bg-icon: url("icon.png");
  --main-tx-font: "MS UI Gothic",sans-serif;
}

.window_header {
  background: var(--window-fr-grad);
}

#window_header_title {
  font-family: var(--main-tx-font);
  color: var(--window-tx-color);
  text-align: center;
  user-select:none;
}

.window {
  background-color: var(--window-bg-color);
  border: 2px solid;
  border-top: 3px solid;
  border-color: var(--window-fr-color);
  font-family: "MS UI Gothic", sans-serif;
  font-size: 11px;
  min-height: 490px;
}

h1 {
  font-family: var(--main-tx-font);
  font-size: 11px;
}

.window_frame {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background: var(--window-fr-grad);
  border: 2px outset var(--window-fr-color);
  border-radius: 2px;
  min-height: 500px;
}

.window_header {
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window_fr_bt {
  margin: 1px;
  padding: 0;
  width: 20px;
  background-color: var(--window-fr-color);
  background: var(--window-fr-grad);
  border-color: var(--window-tx-color);
  border-width: 1px;
  border-style: outset;
  border-radius: 3px;
}

.window_fr_bt:active {
  background: linear-gradient(
    to bottom,
    #3c79e3,
    #b2cdfd 10%,
    #3c79e3 40%,
    #3c79e3 60%,
    #b2cdfd 90%,
    #3c79e3 100%
  );
}

#window_fr_bt_red {
  background: linear-gradient(
    to bottom,
    #f93707,
    #ff9090 10%,
    #f93707 40%,
    #f93707 60%,
    #ff9090 90%,
    #f93707 100%
  );
}

#window_fr_bt_red:active {
  background: linear-gradient(
    to bottom,
    #ff9090,
    #ffc0c0 10%,
    #ff9090 40%,
    #ff9090 60%,
    #ffc0c0 90%,
    #ff9090 100%
  );
}

.window_header_left {
  display: flex;
  justify-content: flex-start;
}

.window_header_rignt {
  display: flex;
  justify-content: flex-end;
}

.window_fr_bt_img {
  color: var(--window-tx-color);
  font-family: "Webdings", sans-serif;
  width: 10px;
  user-select: none;
}

.window_fr_icon {
  margin: 1px;
  padding: 0;
  width: 20px;
  user-select: none;
}

#control_panel{
  border-bottom:1px solid;
  border-color: rgb(255, 255, 255);
  box-shadow:0 0 2px 0 black;
}

.control_panel_bt{
  background:transparent;
  border:none;
  user-select: none;
  font-family:var(--main-tx-font);
  margin:0px;

}

.control_panel_bt:hover{
  background-color: #b2cdfd;
  border:none;
  user-select: none;
  font-family:var(--main-tx-font);
  margin:0px;
  color:white;

}

.control_panel_bt:active{
  background-color: var(--window-fr-color);
  border:none;
  user-select: none;
  font-family:var(--main-tx-font);
  margin:0px;
  color:white;

}